body {
  font-family: 'Source Sans Pro', sans-serif;

  /*overflow-y: hidden;  Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar  */

  width: 100%;
}

.MainContainer {
  padding: 8% 18%;
  margin-top: 60px;
  box-sizing: border-box;

  width: 100%;
  display: flex;
  align-items: center;
}

.ProductPreview {
  width: 50%;
  position: relative;
}

.ProductData {
  width: 50%;
}

@media (max-width: 700px) {
  .MainContainer {
    display: block;
  }

  .ProductPreview {
    width: 100%;
  }

  .ProductData {
    width: 100%;
  }
}
